@import 'color.styl'

.page-container
  position absolute
  left 0
  right 0
  top 0
  bottom 0
  overflow hidden

  .list-page-container {
    position relative
    height 100%
    overflow auto
  }

  .share-link
    display block
    overflow hidden
    position absolute
    top 0

    .share-pic
      width 100%

  .close-btn
    position absolute
    top 10px
    right 20px
    z-index 2

  .list-page
    background-color #E40628
    padding-bottom 100px
    transition top 1.5s ease-in-out 0s
    -webkit-transition top 1.5s ease-in-out 0s
    position relative
    z-index 3
    top 0
    
    .list-poster
      width 100%
      display block
    
  ul.list
    padding 10px
    .price-title
      display block
      margin 10px auto
      height 40px
    
  .item
    position relative 
    margin-bottom 10px
    background-color #FFF
    > a
      color #666
      display block
      padding 8px
    .left
      padding 0
      width 40%
      position relative
      .price-logo
        display block
        position absolute
        width 40%
        height 17%
        top 8px
        left 8px
      .mailing-fee
        position absolute
        bottom 15px
        right 15px
        width 33%
      .avatar
        width 100%
        display block
        min-height 100px
        border 1px solid transparent
    .right
      top 0
      left 40%
      right 0
      padding 10px
      height 100%
      position absolute

      .title
        margin 0
        font-size 1.4rem
        display -webkit-box
        overflow hidden
        text-overflow ellipsis
        -webkit-line-clamp 2
        -webkit-box-orient vertical
      .price
        color #F00
        font-size 2rem
        font-weight 900
        margin-right 1rem
        
      .item-actions
        margin-top 8px
        
        .review-gifts, .buy-now
          display inline-block
          width 50%
          padding 8px 0
          text-align center
          color #fff
          border-style solid
          
        .review-gifts
          background #F7A32B
          border-top-left-radius 5px
          border-bottom-left-radius 5px
          border-width 1px 0 1px 1px
          border-color #E29519
          
        .buy-now
          background #fb4521
          border-width 1px 1px 1px 0
          border-top-right-radius 5px
          border-bottom-right-radius 5px
          border-color #E43636
    
    .item-status
      position relative

      .status-bar
        display inline-block

      .notice 
        position absolute
        right 0
        bottom 5px
          
  .coupon-flag
    text-align center
    padding 10px 0
        
  .wx-cards
    padding 10px

    .wx-card
      background #FCEFDA
      margin-bottom 10px
      
      > a
        color #666
        display block
        padding 8px
        text-decoration none

    


    